*.class

#mac lovers
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#IntelliJ IDEA

.idea/

#NetBeans ignore folders Grasp
algorithms/grasp/Chasqui-route-GRASP/nbproject/private/
algorithms/grasp/Chasqui-route-GRASP/build/
algorithms/grasp/Chasqui-route-GRASP/nbbuild/
algorithms/grasp/Chasqui-route-GRASP/dist/
algorithms/grasp/Chasqui-route-GRASP/nbdist/
algorithms/grasp/Chasqui-route-GRASP/nbactions.xml
algorithms/grasp/Chasqui-route-GRASP/nb-configuration.xml
algorithms/grasp/Chasqui-route-GRASP/.nb-gradle/

#NetBeans ignore folders Tabu
algorithms/tabu-search/Chasqui-route-tabu/nbproject/private/
algorithms/tabu-search/Chasqui-route-tabu/build/
algorithms/tabu-search/Chasqui-route-tabu/nbbuild/
algorithms/tabu-search/Chasqui-route-tabu/dist/
algorithms/tabu-search/Chasqui-route-tabu/nbdist/
algorithms/tabu-search/Chasqui-route-tabu/nbactions.xml
algorithms/tabu-search/Chasqui-route-tabu/nb-configuration.xml
algorithms/tabu-search/Chasqui-route-tabu/.nb-gradle/
/gui/simple-route-manager-gui/nbproject/private/
/gui/simple-route-manager-gui/build/
/gui/simple-route-manager-gui/dist/
/algorithms/tabu-search/Utils/nbproject/private/
